
.container{
  padding: 0;
}

.hamburger{
  width: 10%;
  height: 10%;
}

.wrapper1{
  padding-top: 2%;
  background-image: url(images/background1.jpg);
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  width: 100%;
  height: 100%;

}
.wrapper2{
  padding-top: 2%;
  background-image: url(images/background2.jpg);
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  width: 100%;
  height: 100%;
}
#h1, #h3{
  color: #EC5242;
}
#para{
  background-color: #D3D3D3;
}
=======


/* Mobile version */
.container{
  padding: 0;
}
.navbar a{
  color: white !important;
  font-size: 0.5em !important;
  padding: 1% !important;

}
.navbar a img{
  width: 60%;
  width: 60%;
  padding: 1% !important;

}
.hamburger{
  width: 10%;
  height: 10%;
}

.wrapper1{
  padding-top: 2%;
  background-image: url(images/background1.jpg);
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  width: 100%;
  height: 100%;

}
.wrapper2{
  padding-top: 2%;
  background-image: url(images/background2.jpg);
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  width: 100%;
  height: 100%;
}
#h1, #h3{
  color: #EC5242;
}
#para{
  background-color: #D3D3D3;
}
.text-prog{
  color: white;
  text-align: center;
}
.text{
  text-align: center;
}
.line {
  display: flex;
  height: 0;
  justify-content:center;
  align-items: center;
  align-content: center;
  width:10%;
  margin: auto;
  border: 1px solid #EC5242;
}
.line- {
  display: flex;
  height: 0;
  justify-content:flex-start;
  width:5%;
  border: 1px solid gray;
}

.card-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-gap: 1em;
}
.cart{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  align-content: center;
  grid-gap: 4%;
  width:90%;
  height: 80%;
  background-color: gray;
  padding: 2%;
}


.cart img{
  width: 7%;
  height: 7%;
}
.cart h4{
  color: #EC5242;
}
.cart p{
  color: white;
}
.btn-container{
  padding: 1em;
  display: flex;
  justify-content: center;
}
.button{
  padding: 2%;
  background-color:  #EC5242;
  display: flex;
  color: white;
  border: none;
}
.wrapper3{
  padding: 5%;
}
.speakers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  grid-gap: 2em;
  padding-top: 4%;
}

.side-info p,span{
  font-size: 0.7em;
}

.speaker-img{
  width:7em;
  height: 7em;
}
